<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="nk-sidebar">
        <div style="margin-top:2rem">
            <div class="nk-nav-scroll" style="top:1rem">
                <ul class="metismenu" id="menu">
                    <li class="mega-menu mega-menu-sm">
                        <a href="/" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>

                    </li>
                    <hr>

                    <li class="mega-menu mega-menu-sm">
                        <a href="/celulares" aria-expanded="false">
                            <i class="icon-user menu-icon"></i>
                            <span class="nav-text">Celulares</span>
                        </a>

                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="/aplicacoes" aria-expanded="false">
                            <i class="icon-social-github menu-icon">
                            </i><span class="nav-text">Aplicacoes</span>
                        </a>

                    </li>

                </ul>
            </div>
        </div>
    </div>


</div>